  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --blue: #15D1EA;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --gray: #474B4C;
    --grayDark: #4A535A;
    --grayLight: #FFFAFA;
    --grayMedium: #ECEFF0; 
    --white: #FFFFFF;
    --primary: var(--blue);
    --secondary: var(--gray);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--grayLight);
    font-family: 'Roboto', sans-serif;
  }

  a {
    color: inherit;
  } 

 #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}